<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>URL Shortener</title>
    <link rel="stylesheet" href="style.css" type="text/css" />
    <link rel="stylesheet" href="https://unpkg.com/spectre.css/dist/spectre.min.css" />
  </head>
  <body>
    <div id="app" v-cloak class="container">
      <div class="columns">
        <div class="column col-6 col-mx-auto col-sm-12">
          <div class="card">
            <div class="card-header">
              <h4>Simple URL Shortener</h4>
            </div>
            <div class="card-body">
              <form @submit.prevent="shorten">
                <div class="form-group">
                  <label class="form-label" for="url-input">URL</label>
                  <input
                    id="url-input"
                    v-model="url"
                    class="form-input"
                    type="url"
                    placeholder="Url to shorten"
                    required
                    name="url"
                    autofocus
                  />
                </div>
                <div class="form-group">
                  <label class="form-label" for="alias-input">Custom Alias (Optional)</label>
                  <input
                    id="alias-input"
                    v-model="alias"
                    class="form-input"
                    type="text"
                    placeholder="Custom Alias"
                    name="alias"
                  />
                </div>

                <button type="submit" class="btn" :disabled="processing">
                  Shorten
                </button>
              </form>

              <div class="divider"></div>
              <div v-if="!processing && result && result.error" class="toast toast-error">
                <button class="btn btn-clear float-right" @click="result = undefined"></button>
                {{ result.error }}
              </div>
              <div
                v-else-if="!processing && result"
                class="toast"
                :class="result.alias_available === false ? 'toast-error' : 'toast-primary'"
              >
                <button class="btn btn-clear float-right" @click="result = undefined"></button>
                Shorten link was created, you can access with
                <a target="_blank" class="short-url" rel="noopener" :href="'/' + result.short_id">
                  {{ result.origin }}/{{ result.short_id }}
                </a>
                <div v-if="result.alias_available === true">
                  or with
                  <a target="_blank" class="short-url" rel="noopener" :href="'/' + result.short_id">
                    {{ result.origin }}/{{ result.alias }}
                  </a>
                </div>
                <div v-else-if="result.alias_available === false">
                  The custom alias you've chosen is not available, please try other alias.
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <script src="https://unpkg.com/vue"></script>
    <script src="main.js"></script>
  </body>
</html>
